/.idea/shelf/Uncommitted_changes_before_Update_at_12_04_2025_17_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_04_2025_17_37__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_04_2025_17_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_04_2025_17_37_[Changes]/shelved.patch
/dist/
/build/
/.idea/
/.venv/
/.venv/*
/compile_exe.py
/exit_icon.png
/refresh_icon.png
/save_icon.png
/start_icon.png
/stop_icon.png
/Icon.ico
